linux/
.idea
*.iws
*.iml
*.ipr
captcha_micro/cache/naming/group-a@@demo.go@@cluster-a
captcha_micro/log/nacos-sdk.log
captcha_micro/cache/naming/
captcha_micro/log/
/cache/naming/
cache/
/log/
/cache/naming/group-a@@demo.go@@cluster-a
/cache/naming/base@@captcha
/log/nacos-sdk.log
*.yaml
*.yml
/deploy/docker-compose/micros/user_micro
/deploy/docker-compose/micros/article_micro
/deploy/docker-compose/micros/captcha_micro
/deploy/docker-compose/gateway/gateway_micro
!/deploy/docker-compose/docker-compose.yml
